@import "tailwindcss";

@font-face {
    font-family: 'Barlow';
    src: url('/fonts/Barlow-Regular.ttf');
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-Regular.ttf');
}

@theme {
  --color-hijau: #FF69B4;
  --font-poppins: "Poppins", sans-serif;
  --font-barlow: "Barlow", sans-serif;
}

/* Membuat Barlow menjadi font default untuk seluruh halaman */
body {
    @apply font-barlow;
}